<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>

  <div class="mentioned-users">
    <a href="javascript:void(0)" class="add-mentioned-user">Add mention</a>
  </div>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>

<script id="select" type="text/template">
  <label class="mention-selector">
    Mention
    <select name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </label>
</script>
